* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    color: #171717;
    background: #f7f5f0;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    position: sticky;
    top: 0;
    z-index: 10;
    background: #f7f5f0;
    border-bottom: 1px solid #ddd;
}

nav {
    min-height: 70px;
    padding: 0 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav div {
    display: flex;
    gap: 22px;
}

nav a:hover,
.link {
    color: #d85b35;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 2px;
}

section {
    padding: 80px 8%;
}

.hero {
    min-height: 85vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.hero > div {
    max-width: 700px;
}

.tag {
    color: #d85b35;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 12px;
}

h1 {
    font-size: clamp(45px, 7vw, 75px);
    line-height: 1;
}

h2 {
    font-size: 42px;
    margin-bottom: 20px;
}

.hero p:not(.tag),
#about > p:last-child {
    color: #666;
    font-size: 18px;
    max-width: 650px;
    margin-top: 20px;
}

.btn {
    display: inline-block;
    margin-top: 25px;
    padding: 13px 22px;
    background: #171717;
    color: white;
    border-radius: 4px;
}

.btn:hover {
    background: #d85b35;
}

.profile {
    width: 230px;
    height: 230px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #d85b35;
}

.light {
    background: white;
}

.skills,
.projects {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-top: 35px;
}

.skills span,
.projects article {
    padding: 22px;
    border: 1px solid #ddd;
    background: #f7f5f0;
}

.skills span {
    text-align: center;
    font-weight: bold;
}

.projects {
    grid-template-columns: repeat(2, 1fr);
}

.projects article {
    padding: 30px;
}

.projects h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.projects p {
    color: #666;
    margin-bottom: 15px;
}

.contact {
    text-align: center;
}

.contact p {
    margin: 8px;
}

footer {
    padding: 30px 8%;
    text-align: center;
    background: #171717;
    color: #aaa;
}

@media (max-width: 700px) {

    nav {
        flex-direction: column;
        padding: 18px 5%;
        gap: 12px;
    }

    nav div {
        gap: 12px;
        flex-wrap: wrap;
        justify-content: center;
    }

    section {
        padding: 60px 6%;
    }

    .hero {
        min-height: auto;
        flex-direction: column-reverse;
        text-align: center;
    }

    .hero p:not(.tag) {
        margin-left: auto;
        margin-right: auto;
    }

    .profile {
        width: 180px;
        height: 180px;
    }

    h2 {
        font-size: 35px;
    }

    .skills,
    .projects {
        grid-template-columns: 1fr;
    }
}